@import "../../scss/App.scss";

img {
    width: 210px;
    height: 130px;
    object-fit: cover;
}

.contentWrapper {
    margin: 1em 0;
    width: 210px;
    height: 280px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.158);
    text-overflow: ellipsis;
    &:hover {
        transform: scale(1.05);
    }
  
    cursor: pointer;
}

.gridContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    a {
        text-decoration: none;
        color: black;
    }
}

.contentData{
    text-align: start;
    margin: 0.5em 1em;
}

@include respond-below (xs) {
    .gridContainer {
        justify-content: center;
    }
    .contentWrapper {
        margin: 1em;
    }
}