@import '../../scss/App.scss';

h3 {
    margin-top: 0;
}

p {
   height: 5px;
}

.imageDetails {
    img {
        width: 300px;
        height: 180px;
        object-fit: cover;
    }
}

.dataContent {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    width: 95vw;
}

.imageDetails {
    width: 350px;
}

.dataDetails {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
}

.countryDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@include respond-below(xs){
    .imageDetails {
        text-align: center;
    }
    .dataContent {
        justify-content: center;
    }
}
