@import '../../../scss/App.scss';

.dropdown {
    // width: var(--btn-lg);
    display: flex;
    min-width: 160px;
    height: 35px;
    position: relative;
    margin: 15px 5px;
  }

.dropdownHeader {
    display:block;
    min-width: 150px;
    padding: 7px;
    cursor: pointer;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    box-shadow: black 0.1px 0.6px 0.5em -0.3em;
    border-radius: 5px;
    background-color: white;
    list-style-type: none;
    z-index: 2000;
    &:focus,
    div.box:focus {
        border: 4px solid rgb(173, 173, 173);
        outline: none;
    }
}
  
.dropdownBody {
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
}

.dropdownBody.open {
    display: block;
  }
  
.dropdownItem {
    padding: 10px;
}