@import "../../scss/App.scss";

svg {
    color: grey;
    cursor: pointer;
}

.searchbar {
    button {
        border: none;
        padding: 0;
        background: none;
        position: relative;
        margin-top: 8px;
        top: 2px;
        left: 15px;
        width: 5px;
        height: 12px;
    }
    input {
        border-radius: 6px;
        border-style: none;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 50%) 0.1px 0.6px 0.5em -0.3em;
        padding: 0 3em;
        width: 300px;
        height: 35px;
        &:focus::placeholder {
            color: transparent;
        }
        &:focus,
        textarea:focus {
            box-shadow: 0 0 5px rgb(173, 173, 173);
            border: 1px solid rgb(173, 173, 173);
            outline: none;
        }
    }
}
.container {
    display: flex;
    flex: auto;
    margin:0;
    justify-content: space-between;
}

.backButton {
    
}